html{
-webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: serif;
}

ul{
 list-style: none;
}

.MEISHI{
  position: fixed;
  z-index: 10;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3E3A39;
  background-color: #F2F2F2;
  padding: 100vh;
}

.KAMI{
  padding: 100px ;
  background-color: white;
}

.main-wrap{
  position: relative;
  text-align: center;
  height: 100vh;
  background-image: url(images/QRU.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
    background-color: #FFFFFF;
}

.cen-wrap{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  color: #3E3A39;
  font-family: serif;
  display: none;
}
.main-wrap p{
  font-size: 1.3rem;
  padding-left: 15%;
  text-align: left;
}

.main-wrap h1{
  font-size: 9rem;
}

.main-wrap h3{
  font-size: 2rem;
  letter-spacing: 1.0rem;
  text-align: center;
}
.gray{
  color: #929994;
}

.mid-wrap{
  background-color: #F2F2F2;
  position: relative;
  height: 100vh;
  z-index: 1;
  text-align: center;
  font-family: sans-serif;
  line-height: 4rem;
}

.main-wrap::before{
  content:"";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 0;
border-style: solid;
z-index: 1;

/*ここで三角形のサイズを決める。
必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
border-width: 0 0 100px 100vw ;

border-color: transparent transparent #F2F2F2 transparent;
}

.cont-wrap{
  position: absolute;
  background-color: #FFFFFF;
  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.left-wrap{
  position: absolute;
  text-align: left;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.right-wrap{
  position: absolute;
  text-align: left;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
